header{
    background: #d8a7e8;
    text-align: center;
}

h1, h2{
    padding: 20px;
    font-family: Satisfy;
}

.container{
    align-items: center;
    padding: 2%;
    width: 100%;
    flex-wrap: wrap;
}

td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    align-items: center;
}
tr:nth-child(even),table.list thead>tr{
    background-color: #9ddde9;
}
p{
    text-align: justify;
    padding: 5%;
    color: #730a96;
}
input[type=text]{
    width: 100%;
    padding: 12% 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #aab7e4;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-action-buttons{
    text-align: right;
}
thead{
    text-decoration: underline ;
}
tbody{
    cursor: default;
    color: #294dd0;
    margin-right: 4px;
    align-items: center;
}
@media (min-width:991px) and (max-width:1324px){
    .adicional{
        background: #feffb8;
    }
}
@media (min-width:477px) and (max-width:990px){
    .adicional{
        background: #b8bfff;
    }
}